<div class="header">
    <div class="navbar-header col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-success"><strong>Success!<span class="alert-msg"></span></strong></div>
      <a href="/#/" class="navbar-brand logo">ARTISTS
        <small>world know about them</small>
      </a>

      <header-menu-guest ng-if="!header.userActive"></header-menu-guest>
      <header-menu-user ng-if="header.userActive"></header-menu-user>
    </div>
    <div class="clearfix"></div>
</div>