<div class="artists">
  <h4>The list of artists</h4>

  <div class="input-group">
    <input type="text"
           class="form-control"
           ng-model="artistCtrl.model.nameArtist">
    <div class="input-group-btn">
      <button
          class="btn btn-default btn-add"
          ng-disabled="artistCtrl.model.nameArtist === ''"
          ng-click="artistCtrl.clickAddBtn(artistCtrl.filterGenre)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button
          class="btn btn-danger btn-remove"
          ng-disabled="artistCtrl.model.idSelected === false "
          ng-click="artistCtrl.clickDeleteBtn()">
        <span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>

  <ul id="artists-box">
    <li ng-repeat="artist in artistCtrl.data | filter : { genre: artistCtrl.filterGenre } "
        data-id="{{ artist.id }}"
        ng-click="artistCtrl.clickListArtist($event)"
        ng-class="{ selected: artist.id == artistCtrl.model.idSelected }">
      {{ artist.name }}
    </li>
  </ul>
</div>