<div class="header-menu-guest">
  <ul class="nav navbar-nav">
    <li class="auth">
      <a ng-href="#/signup">SignUp</a>
    </li>
    <li class="auth">
      <a ng-href="#/signin">SignIn</a>
    </li>
  </ul>
</div>