<div id="auth-box"><h4>REGISTRATION</h4>
<form class="form-login row" name="fUser" ng-submit="signUp.submit(fUser, user)" novalidate="">

  <form-group
      type="text"
      placeholder="FirstName..."
      name="firstname"
      my-form-field="fUser.firstname"
      ng-model="user.firstname"
      ng-minlength="3"
      ng-maxlength="20"></form-group>

  <form-group
      type="text"
      placeholder="LastName..."
      name="lastname"
      my-form-field="fUser.lastname"
      ng-model="user.lastname"
      ng-minlength="3"
      ng-maxlength="50"></form-group>

  <form-group
      type="email"
      placeholder="Email..."
      name="email"
      my-form-field="fUser.email"
      ng-model="user.email"
      ng-minlength=""
      ng-maxlength=""></form-group>

  <form-group
      type="text"
      placeholder="Phone..."
      name="phone"
      my-form-field="fUser.phone"
      ng-model="user.phone"
      ng-minlength="5"
      ng-maxlength=""></form-group>

  <form-group
      type="password"
      placeholder="Password..."
      name="password"
      my-form-field="fUser.password"
      ng-model="user.password"
      ng-minlength="6"
      ng-maxlength="20"></form-group>

  <form-group
      type="password"
      placeholder="Password again..."
      name="passwordConfirm"
      my-form-field="fUser.passwordConfirm"
      ng-model="user.passwordConfirm"
      ng-minlength="6"
      ng-maxlength="20"
      match="user.password"></form-group>

  <div class="form-group pull-right">
    <input type="button" ng-click="signUp.cancel()" value="Cancel" class="btn btn-danger">
    <input type="submit" value="OK" class="btn btn-default">
  </div>
</form>

<!--<pre ng-bind="user | json"></pre>-->
</div>