<div id="auth-box">
<h4>LOGIN</h4>
<form class="form-login row" name="fUser" ng-submit="signIn.submit(fUser, user)" novalidate>
  <form-group
          type="email"
          placeholder="Email..."
          name="email"
          my-form-field="fUser.email"
          ng-model="user.email"></form-group>
  <form-group
          type="password"
          placeholder="Password..."
          name="password"
          my-form-field="fUser.password"
          ng-model="user.password"
          ng-minlength="6"
          ng-maxlength="20"></form-group>
  <div class="form-group pull-right">
    <input type="button" ng-click="signIn.cancel()" value="Cancel" class="btn btn-danger">
    <input type="submit" value="OK" class="btn btn-default">
  </div>
</form>
</div>