<div class="header-menu-user">
    <ul class="nav navbar-nav">
        <li class="auth">
            <a ng-href="#/signout">SignOut</a>
        </li>
        <li class="auth">
            <p class="username">User Vasya</p>
        </li>
    </ul>
</div>