<div class="form-group" ng-class="formGroup.getCssClasses(formGroup.formField)">
    <input type="{{ formGroup.type }}"
           placeholder="{{ formGroup.placeholder }}"
           class="form-control"
           name="{{ formGroup.name }}"
           ng-model="formGroup.model"
           ng-minlength="{{ formGroup.minLength }}"
           ng-maxlength="{{ formGroup.maxLength }}"
           ng-pattern="formGroup.match ? formGroup.match : formGroup.regExpr[formGroup.name]"
           required>

    <span class="glyphicon form-control-feedback"></span>
    <span ng-show="formGroup.formField.$error['required']" class="err-msg">Error: field is required</span>
    <span ng-show="formGroup.formField.$error['minlength']" class="err-msg"> Error: Value must be more or equal {{ formGroup.minLength }} chars long</span>
    <span ng-show="formGroup.formField.$error['maxlength']" class="err-msg">Error: Value must be less or equal {{ formGroup.maxLength }} chars long</span>
    <span ng-show="formGroup.formField.$error['email']" class="err-msg">Error: email is invalid</span>
    <span ng-show="formGroup.formField.$error['pattern'] && formGroup.name == 'passwordConfirm'" class="err-msg">Password and Confirm password are not equal</span>
    <span ng-show="formGroup.formField.$error['pattern'] && formGroup.name == 'phone'" class="err-msg">
        Error: Invalid phone number. Can contain digits, spaces, brackets, signs: plus or minus</span>
</div>