<div id="content-box">
  <div class="genres-box">
    <h4>Genres</h4>
    <ul>
      <li ng-repeat="gender in genreCtrl.data"
          ng-click="genreCtrl.setFilterGender(gender.name)"
          ng-class="genreCtrl.isActive(gender.name)">
        {{ gender.name }}
        <i class="glyphicon-chevron-right"></i>
      </li>
    </ul>
  </div>

  <artist filter-genre="genreCtrl.model.filterGenre"></artist>
</div>
