@font-face {
  font-family: 'Tusj';
  src: local('Tusj'), local('FFF_Tusj'), url('../../../fonts/FFF_Tusj.ttf') format('truetype');
}

@white-rock: #EED;
@white: #fff;
@silver: #ccc;

@cod-gray: #151515;
@stack: #818281;
@tundora: #434343;
@gordons-green: #040A04;
@mine-shaft: #202020;
@delta: #a5a5a4;
@jumbo: #717172;
@dove-gray: #626262;
@gray-nurse: #E1E6E1;
@black: #010101;
@dixie: #E3931B;
@old-gold: #D3BC47;
@fern: #73B677;
@chestnut-rose: #CE6A68;