// home
.genres-box {
  .make-lg-column(3);
  .make-md-column(4);
  .make-sm-column(4);

  margin-right: 10px;
  padding-right: 10px;

  ul {
    width: 100%;
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid @tundora;

    li {
      padding: 9px 10px;
      border: 1px solid @jumbo;
      background: @black;
      color: @jumbo;
      border-bottom: none;

      &.selected {
        background: @tundora;
        color: @black;
      }

      &:hover {
        background-color: @jumbo;
        color: @black;
      }

      & i {
        &:extend(.glyphicon);
        &:extend(.glyphicon-chevron-right:before);
        &:extend(.pull-right);
      }
    }
  }
}

.artists {
  .make-lg-column(5);
  .make-md-column(7);
  .make-sm-column(7);

  & .input-group {
    & .btn-add, & .btn-remove {
      color: @gray-nurse;
      opacity: 0.8;
      border: 1px solid @gray-nurse;
    }

    & .btn-add {
      background: transparent;
    }

    & .btn[disabled] {
      opacity: 0.3;
    }
  }

  & ul {
    padding-left: 18px;
    margin-top: 20px;

    li {
      cursor: pointer;
      list-style-type: square;
    }

    li.selected {
      background-color: @tundora;
    }
  }
}

