.container {
  background-color: @mine-shaft;
  padding: 0;
  color: @stack;


  h4 {
    color: @delta;
  }

  #content-box {
    padding: 0 10px;
    min-height: 300px;
  }

  .logo {
    position:relative;
    font-family: 'Tusj';
    font-size: 40px;
    font-weight: 600;
    color: @stack;
    letter-spacing: 3px;
    margin-left: 0 !important;
    margin-bottom: 15px;

    small {
      position: absolute;
      font-weight: normal;
      font-size: 23%;
      color: @silver;
      bottom: -5px;
      left: 18px;
      letter-spacing: 4px;
    }
  }

  .navbar-header {
    background-color: @cod-gray;
    border-bottom: 1px solid gray;

    ul {
      margin-bottom: 10px;
      float: right;

      li {
        a {
          color: @silver;
          background: transparent;
        }

        a:hover {
          background-color: transparent;
          color: gray;
        }
      }
      li.auth {
        margin-top: 5px;
        float: right;
      }
    }

    .username {
      padding-top: 15px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 768px) {
    .navbar-header ul {
      margin-right: 15px;
    }

    #auth-box {
      width: 100%;
    }
  }
}

#footer {
  color: @delta;
  background: @black;
  border-color: @dove-gray;
  margin: 10px 0 10px 0;
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  a {
    color: @delta;
    background: transparent;
    margin: 0 5px 0 5px;
    padding: 5px;
  }

  a:hover {
    color: @gordons-green;
    background: @stack;
  }
}

#auth-box {
  width: 50%;
  margin: 0 auto;

  [type="button"], [type="submit"] {
    margin-left: 10px;
    min-width: 100px;
  }

  .form-group {
    position: relative;

    &.has-error {
      margin-bottom: 20px;
    }
  }
}


.has-error {
  & input.ng-invalid.ng-dirty,
  & input.ng-invalid.ng-dirty:focus {
    box-shadow: 0 0 0 1px @white ;
    border-color: @dixie;
  }

  & .glyphicon:before {
    content: "\E014";
    color: @dixie;
  }
}

.has-success {
  & input.ng-valid.ng-dirty,
  & input.ng-valid.ng-dirty:focus {
    box-shadow: 0 0 0 1px @white ;
    border-color: @fern;
  }

  & .glyphicon:before {
    content: "\E013";
    color: @fern;
  }
}

.err-msg {
  display: none;
}

.has-error .err-msg {
  display: block;
  position: absolute;
  top: 33px;
  font-size: 11px;
  background: @dixie;
  padding: 0 3px;
//  border-left: 1px solid;
  color: @white;
}

.alert-success {
  display: none;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 16%;
  border-radius: 0;
  padding: 22px 0 38px 15px;
  margin-left: -15px;

  .alert-msg {
    padding-left: 5px;
  }

  &.show-msg {
    display: block;
    animation:
      fadeIn 2s linear;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

/* ng-notify */
.ngn-info, .ngn-error {
  width: 69.5%;
  margin: 0 auto;
  padding: 19.5px;
}

.ngn-info {
  background-color: @fern !important;
}

.ngn-error {
  background-color: @chestnut-rose !important;
}